body {
	background-color: #d0e4fe;
}

h1 {
	color: orange;
	text-align: center;
	font-size: 40px;
}

h2 {
	color: green;
	text-align: center;
	font-size: 20px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header li {
	float: left;
}

footer li {
	float: center;
}

header a {
	display: block;
	width: 275px;
	background-color: yellow;
}

header, footer div {
	text-align: center;
}

div, nav {
	text-align: left;
	color: black;
	margin-top: 50px;
	margin-left: 75px;
	margin-bottom: 50px;
	margin-right: 75px;
}

#menu {
	text-align: center;
}

footer a {
	background-color: #00FFAA;
	display: block;
	width: 275px;
}

footer div p {
	color: red;
	font-size: 10px;
}

table {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	width: 100%;
	border-collapse: collapse;
}

table tr, table th {
	font-size: 1em;
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

table th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

table tr.alt1 th {
	color: #000000;
	background-color: #EAF2D3;
}

table tr.alt2 th {
	color: #000000;
	background-color: white;
}

article {
	color: grey;
	margin: 75px;
}

header h2 {
	 text-shadow: 5px 5px 5px yellow;
}

#photos div {
	 text-shadow: 5px 5px 5px grey;
}

#photos div div {
	margin-left: 35%;
}